* {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 
    'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
    margin: 0;
}

                    /*header-section*/
.header, .header-main, .header-content
.header-left, .header-right, .navbar,
.footer {
    background-color: #1f2937;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    
}
.header-main {
    flex-shrink: 0;
}
.navbar{
    display: flex;
}
.left-links {
    display: flex;
    flex: 1;
    font-size: 24px;
    font-weight: bolder;
}
.right-links {
    
}
ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 16px;
}
a {
    text-decoration: none;
}
a.headerlogo {
    color: #f9faf8;
    
    
}
a.headerlink {
    color: #e5e7eb;
    font-size: 18px;
}
.header-content {
    display: flex;
    margin:80px 0;
    gap: 64px;
}
.header-left {

}
.hero-main {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}
.hero-secondary {
    color: #e5e7eb;
    font-size: 18px;

}
button {
    color: #f9faf8;
    background-color: #3882f6;
    border-radius: 5px;
    border: 2px solid #f9faf8;
    width: 110px;
    height: 40px;
}
.header-right {
    background-color: #666b72;
    color: #e5e7eb;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
}

/*info-section*/
.info-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
}
.info-content {
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.info-main {
    font-size: 48px;
    font-weight: bolder;
    color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
}
.info-box-container {
    display: flex;
    flex-direction: row;
    gap: 48px;

}
.info-boxes {
    padding: 0 0 100px 0;
}
.info-box {
    display: flex;
    flex-direction: column;
    border: 2px solid #005aeb;
    border-radius: 10px;
    height: 200px;
    width: 200px;
}
.info-box-content {
    font-size: 20px;
    text-align: center;
}

/*quote-section*/


/*sign up section*/
.sign-up-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}
.sign-up-content {
    background-color: #3882f6;
    padding: 0 220px;
    font-size: 18px;
    gap: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
   
}
.sign-up-left {
   
}
.sign-up-main {
    color: #f9faf8;
    font-size: 24px;
}
.sign-up-secondary {
    color: #e5e7eb;
    font-size: 18px;
}
.sign-up-right {
    
}

/*footer-section*/
.footer {
    color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
}