/*style.css*/
*{
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
    margin: 0;
    padding: 0;
   
}

.header, .header-main,.navbar,
.header-content, .header-left,
.footer {
    background-color: #1f2937;
}

.header {
    /*present it is jst created, 
    it has header-main as child,
    it is used only to make its child center*/
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.header-main {
    /*present it is jst created, 
    it has navbar & header-content as children,
    it is used to place header-content below navbar
    but they were automatically placed one below other*/
    flex-shrink: 0;
}

.navbar {
    /*it is created to create navbar
    it contains <li> and <a> tags
    used display to flex the left and right links*/
    display: flex;

}

.headerlogo {
    color: #f9faf8;
    font-size: 24px;  
}

.left-links {
    display: flex;
    flex: 1;
}

.headerlink{
    color: #e5e7eb;
    font-size: 18px;
    
}

ul{
    list-style: none;
    padding: 0;
    /*used display flex to make ul horizontal in right-links*/
    display: flex;
    gap:16px;/*to seperate the items in <ul>*/
    
}
a {
    text-decoration: none;/*to remove underlines in <a>*/
    
}
.header-content {
    /*it is used to place its children horizontally*/
    display: flex;
    margin: 90px 0;
    gap: 48px;
    flex-shrink: 0;
}
.header-left {

}

span.hero-main {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

span.hero-secondary {
    color: #e5e7eb;
    font-size: 18px;
}

button {
    color: #f9faf8;
    background-color: #3882f6;
    border-radius: 10px;
    border-style: 2px solid #e5e7eb;
    width: 100px;
    height: 40px;
}
.header-right {
    background-color: #5f6266;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    color: #e5e7eb;
}
.footer {
    /*present it is jst created, 
    it has header-main as child,
    it is used only to make its child center*/
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70px;
    color: #e5e7eb;
    font-size: 18px;

}